<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find mini_pupper_description)/xacro/const.xacro" />
    <xacro:macro name="body">
    <!--
    ********************************************
    ******              PARTS             ******
    ********************************************
    -->
    <link name="base_link">
        <!--body-->
        <visual>
            <geometry>
                <mesh filename="package://mini_pupper_description/meshes/base_link.stl" scale="1.0 1.0 1.0"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 -0.017"/>
            <material name="white"/>          
        </visual>
        <collision>
            <geometry>
                <box size="0.180 0.060 0.045"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0.008 0 0.005"/>
        </collision>

        <!--body-battery-holder-->
        <visual>
            <geometry>
                <box size="0.150 0.036 0.008"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0.0 0.0 -0.020"/>
            <material name="black"/>                          
        </visual>
        <collision>
            <geometry>
                <box size="0.150 0.036 0.008"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0.0 0.0 -0.020"/>
        </collision>
    </link>
    </xacro:macro>
</robot>
