<?xml version="1.0"?>

<!--
********************************************
******TODO align with mini_pupper_bsp/Python_Module/MangDang/mini_pupper/Config.py
********************************************
-->

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="has_lidar" value="True"/>
    <xacro:property name="has_imu" value="True"/>
    <xacro:property name="has_camera" value="True"/>
    <xacro:property name="lidar_offset_x" value="-0.01"/>
    <xacro:property name="lidar_offset_z" value="0.06"/>
    <xacro:property name="has_oakd" value="False"/>
    <xacro:property name="angle_45" value="0.785398"/>
    <xacro:property name="right_angle" value="1.57079"/>
    <xacro:property name="angle_135" value="2.35619"/>
    <xacro:property name="angle_180" value="3.14159"/>
    <xacro:property name="abd_offset_x" value="0.059"/>
    <xacro:property name="abd_offset_y" value="0.0235"/>
    <xacro:property name="hip_offset_y" value="0.019"/>
    <xacro:property name="femur_offset_x" value="0.025"/>
    <xacro:property name="tibia_offset_x" value="0.03"/>
    <xacro:property name="knee_offset_x" value="0.05"/>
    <xacro:property name="knee_offset_z" value="0.005"/>
    <xacro:property name="foot_offset_x" value="0.06"/>
</robot>
