<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find mini_pupper_description)/xacro/const.xacro" />
    <xacro:macro name="imu">
    <xacro:if value="${has_imu == True}">
  <link name="imu">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.0 0.0 0.0" />
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <box size="0.0 0.0 0.0" />
      </geometry>
    </collision>
  </link>
  <joint name="base_imu" type="fixed">
   <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
    <parent link="base_link"/>
    <child link="imu"/>
    <axis xyz="0.0 0.0 0.0"/>
  </joint>
    </xacro:if>
    </xacro:macro>
</robot>
