<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find mini_pupper_description)/xacro/const.xacro" />
    <xacro:macro name="lidar">
    <xacro:if value="${has_lidar == True}">
  <link name="lidar">
    <visual>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://mini_pupper_description/meshes/lidar.stl"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://mini_pupper_description/meshes/lidar.stl"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_lidar" type="fixed">
    <origin rpy="0 0 ${angle_180}" xyz="${lidar_offset_x} 0.0 ${lidar_offset_z}"/>
    <parent link="base_link"/>
    <child link="lidar"/>
    <axis xyz="0 0 0"/>
  </joint>
    </xacro:if>
    </xacro:macro>
</robot>
