<?xml version="1.0"?>

<robot>

    <material name="white">
        <color rgba="0.9 0.9 0.9 1.0"/>
    </material>
    <material name="black">
        <color rgba="0.2 0.2 0.2 1.0"/>
    </material>
    <material name="dark_grey">
        <color rgba="0.3 0.3 0.3 1.0"/>
    </material>    
    <material name="grey">
        <color rgba="0.6 0.6 0.6 1.0"/>
    </material>

</robot>
