<?xml version="1.0"?>

<!-- 
    ############################################
    ######              MEMO              ######
    ############################################
    x = front
    y = left
    z = up
    
    Origin is placed at geometry center of the body 

    https://mymodelrobot.appspot.com/6312011906416640
-->

<robot name="mini_pupper" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find mini_pupper_description)/xacro/materials.xacro" />
  <xacro:include filename="$(find mini_pupper_description)/xacro/body.xacro" />
  <xacro:include filename="$(find mini_pupper_description)/xacro/leg.xacro" />
  <xacro:include filename="$(find mini_pupper_description)/xacro/lidar.xacro" />
  <xacro:include filename="$(find mini_pupper_description)/xacro/imu.xacro" />
  <xacro:include filename="$(find mini_pupper_description)/xacro/camera.xacro" />

    <!-- 
    ############################################
    ######              BODY              ######
    ############################################
    -->

    <xacro:body />
        
    <!-- 
    ############################################
    ######              LEG Front Right   ######
    ############################################
    -->

    <xacro:leg name="fr" front_sign="" side_sign="-"/>

    <!-- 
    ############################################
    ######              LEG Front Left    ######
    ############################################
    -->

    <xacro:leg name="fl" front_sign="" side_sign=""/>

    <!-- 
    ############################################
    ######              LEG Rear Right    ######
    ############################################
    -->

    <xacro:leg name="rr" front_sign="-" side_sign="-"/>

    <!-- 
    ############################################
    ######              LEG Rear Left     ######
    ############################################
    -->

    <xacro:leg name="rl" front_sign="-" side_sign=""/>

    <!-- 
    ############################################
    ######               IMU              ######
    ############################################
    -->

    <xacro:imu />

    <!-- 
    ############################################
    ######               Lidar LD06       ######
    ############################################
    -->

    <xacro:lidar />

    <!-- 
    ############################################
    ######               RPi camera       ######
    ############################################
    -->

    <xacro:camera />
</robot>    
